<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <p>
    <strong>Name:</strong>
    <%= @building.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @building.address %>
  </p>
</div>

<%= link_to 'Modifier', edit_building_path(@building), class:"btn btn-warning" %> |
<%= link_to 'Retour', buildings_path, class:"btn btn-dark" %>
