<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <p>
    <strong>Name:</strong>
    <%= @room.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @room.description %>
  </p>

</div>
<%= link_to 'Modifier', edit_room_path(@room), class:"btn btn-warning" %> |
<%= link_to 'Retour', rooms_path, class:"btn btn-dark"%>
